.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; /* Permette alle colonne di andare a capo */
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.column h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.item-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.item-button:hover {
  background-color: #f1f1f1;
}

.totale {
  margin-top: 20px;
  text-align: right;
}

.manda-ordine-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.manda-ordine-button:hover {
  background-color: #0056b3;
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
  .App-content {
    flex-direction: column;
    align-items: center;
  }

  .column {
    margin: 10px 0;
    width: 90%; /* Assicura che le colonne non siano troppo larghe su dispositivi mobili */
  }
}
